.box{

    margin-top: 10%;
    padding-top: 8%;
    background-color: rgb(193, 193, 211);
}
p{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(74, 88, 74);
    border: rgb(68, 240, 25);
    border-radius: 10%;
    text-shadow: darkblue;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration-color: white;
}
input{
    
    margin-left: 20%;
    margin-bottom: 3%;
}